/* body {
    background-image: url('/images/blackboard.jpg');
    background-size: cover;
} */
#box {
    border: 10px solid rgb(255, 154, 170);
    border-radius: 20px;
    margin: auto;
    margin-right: 100px;
    width: 400px;
    height: 630px;
    margin-top: 30px;
    background-color: rgba(1, 1, 180, 0.562);
}
.head-name {
    display: flex;
}
#casio {
    margin-top: 15px;
    color: white;
    text-align: left;
    margin-left: 15px;
    font-family: 'Play', sans-serif;
    font-size: 20px;
}
#fx-9750GII {
    margin-top: 15px;
    margin-left: auto;
    color: white;
    margin-right: 10px;
    font-size: 20px;
    font-style: italic;
}

tr, td {
    border: 1px solid ;
}

table {
    margin: auto;
    margin-top: 10px;
    
}

#game {
    display: flex;
    
}
body {
    background-image: url(images/blackboard.jpg);
    background-size: cover;
}
.right-message {
    margin-right: 100px;
    margin-top: auto;
    margin-bottom: auto;

}
.instructions {
    width: 200px;
    background-color: black;
    color: green;
    font-family: 'Roboto Mono', monospace;
    border: 5px solid green;
    border-radius: 10px;
    padding: 10px;
}
#input {
    background-color: black;
    color: green;
    border-color: white;
    text-align: right;
    padding-right: 20px;
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: clip; */
}

td {
    border: 5px solid black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    width: 80px;
    height: 80px;
    font-size: 30px;
    background-color: white;
}
.red-but {
    background-color: red;
    color: white;
}
td:hover {
    background-color: purple;
    color: white;
    cursor: pointer;
}
